@import url("https://fonts.googleapis.com/css?family=Jura:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: #abafb2;
  font-size: 15px;
}

h1,
h2 {
  margin-bottom: 20px;
  color: #4c5359;
}

h1 {
  font-weight: 700;
  font-size: 23px;
}

h2 {
  font-weight: 700;
  font-size: 23px;
  margin-top: 100px;
}

h3 {
  font-size: 20px;
  margin: 30px 0 10px 0;
  color: #4c5359;
}

header {
  background-image: url(../assets/images/bg-header-mobile.png);
  background-size: fill;
  background-repeat: no-repeat;
}

header,
main,
footer {
  padding: 10%;
}

footer {
  background-color: #f5f6f8;
  text-align: center;
}

body {
  font-family: "Jura", sans-serif;
}

.center-text,
.flexible-text {
  text-align: center;
}

.big-logo {
  margin: 100px 0 50px 0;
}

.center-image,
.flexible-image {
  margin: 20px 0;
  width: 100%;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.first-option,
.second-option {
  border-radius: 20px;
  border: none;
  color: white;
  display: block;
  font-weight: 700;
  height: 45px;
  margin: 10px 0;
  width: 100%;
}

.first-option {
  background-color: #26bba5;
}

.second-option {
  background-color: #6174ff;
}

.breakable-column {
  margin-top: 100px;
}

.column-3 {
  margin-bottom: 60px;
}

.column-5 {
  text-align: center;
  margin-bottom: 75px;
}

.small-logo {
  width: 50px;
}

.footer-links > li {
  list-style: none;
  margin: 30px 0;
}

.footer-links > li > a {
  text-decoration: none;
  color: #53575a;
}

.footer-links {
  margin: 30px 0;
}

.contact-logo {
  margin: 0 15px;
}

@media only screen and (min-width: 460px) {
  header {
    background-image: url(../assets/images/bg-header-desktop.png);
  }

  header,
  main {
    padding: 0 30vw;
  }

  footer {
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 140px;
    padding: 0 50px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
    margin-top: 50px;
  }

  .big-logo {
    margin-top: 0px;
  }

  .button-box {
    justify-content: center;
  }

  .first-option,
  .second-option {
    height: 45px;
    margin-left: 20px;
    width: 35%;
  }

  .image-content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    right: 30vw;
    width: 80vw;
  }

  .flexible-image {
    position: relative;
    right: 50px;
    margin-right: 50px;
  }

  .flexible-text {
    margin-bottom: 50px;
    text-align: left;
  }

  .center-image {
    margin-bottom: 0px;
    position: relative;
    right: 5vw;
    width: 50vw;
  }

  .breakable-column {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 20vw;
    width: 80vw;
  }

  .column-3 {
    width: 33%;
    padding: 0 1vw;
  }

  .column-5 {
    width: 20%;
  }

  .content-icon {
    height: 30px;
  }

  .footer-router {
    display: flex;
    justify-content: left;
    width: 70%;
  }

  .footer-links > li {
    text-align: left;
  }
}
