@import url('https://fonts.googleapis.com/css?family=Jura:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 23px;
}

header {
  background-image: url(/assets/images/bg-header-mobile.png);
  background-size: fill;
  background-repeat: no-repeat;
}

header, main, footer {
  padding: 10%;
}

body {
  font-family: 'Jura', sans-serif;
}

.center-text {
  text-align: center;
}

.big-logo {
  margin: 100px 0 50px 0;
}